body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90E0EF;
}

#section-list ol li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#presentation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

img {
    border-radius: 50%;
    width: 300px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

.nationality {
    color: #fff;
    font-weight: 600;
}

li {
    line-height: 30px;
}

.strongest-hability {
    font-size: 30px;
    font-weight: lighter;
    color: #03045E
}

.habilities {
    font-size: 15px;
    font-style: italic;
    color: #03045E;
}
