@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*color scheme: #2b6777 #c8d8e4 #ffffff #52ab98 */


* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2b6777;
}

/*header*/
header {
    background-color: #03045E;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    padding: 30px;
}

#section-list ol li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;

    transition: 0.3s;
}

#section-list ol li a:hover{
    text-decoration: none;
    font-weight: 600;
    opacity: 0.8;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

/*presentation*/
.section-me {
    float: right;

    text-align: center;
    background-color: #c8d8e4 ;
    width: 500px;
    height: 90vh;
}

.section-me h2 {
    margin-top: 10px;
}

#presentation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    border-radius: 50%;
    width: 300px;
    margin: 25px 0;
}

/*main section*/
.my-attributes {
    padding: 25px;
}

h2 {
    font-size: 30px;
    color: #2b6777;
}

#skills, #blog-title, #social {
    color: #fff;
}

p {
    line-height: 25px;
}

.nationality {
    font-weight: 600;
}

li {
    line-height: 30px;
}

.strongest-hability {
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    color: #f2f2f2
}

.habilities {
    font-size: 15px;
    font-style: italic;
    color: #f2f2f2;
}

#blog {
    margin: 30px 0;
}